/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');


/* Importing all components file */
@import url("components/hero.css");
@import url("components/how-it-works.css");
@import url("components/footer.css");

/* Utilities */
body {
  margin: 0;
  font-family: 'open-sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Poppins';
}
h1 {
  color: white;
}

a {
  text-decoration: none;
}

footer {
  background-color: #2c2b2b;
}
/* Custom design below! */
